@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital@1&family=Nunito&family=Playfair+Display&family=Poppins&family=Vidaloka&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@300;400;500;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.slide {
  align-items: center;
  animation: slideshow 200s linear infinite;
}

.slide img {
  /* height: 700px; */
  border: 2px;
  width: 100%;
}

@keyframes slideshow {
  0% {
    transform: translateY(0); /* Change to translateY */
  }
  100% {
    transform: translateY(-100%); /* Change to translateY */
  }
}

.custom-negative-z-index {
  z-index: -2;
}

/* _________________________________________________________________________________________________-____ */

.wrapper1 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider1 {
  height: 100vh;
  position: relative;
  background: white;
  overflow: hidden;
}

.slide1 {
  align-items: center;
  animation: slideshow1 200s linear infinite;
}

.slide1 img {
  /* height: 700px; */
  width: 100%;
  border: 2px;
}

@keyframes slideshow1 {
  100% {
    transform: translateY(0); /* Change to translateY */
  }
  0% {
    transform: translateY(-100%); /* Change to translateY */
  }
}
